<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

<head>
    <title>Bookish - Library</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/library.css"/>
    <link rel="stylesheet" href="/styles/about.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div>

<h2>Add a new title:</h2>

<form action = "/add/add-title" method = "post">
    <label  class="add-tech-row">
        <span>Title</span>
    <input type = "text" name = "title">
    </label>

    <label  class="add-tech-row">
        Author
    <input type = "text" name = "author">
    </label>
    <div class = "add-book">
    <input type = "submit" value = "Submit Title" >
    </div>
</form>

</div>
</body>
</html>