<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

<head>
    <title>Bookish - Library</title>
    <!--The rel attribute specifies the relationship between the current document and the linked document. Only used if the href attribute is present.-->
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/about.css"/>
    <style>
        table,h1,h3 {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        th{
          border: 2px solid #dddddd;
          text-align: left;
          padding: 3px;
          background-color:dodgerblue;
          }
        td{
          border: 2px solid #dddddd;
          text-align: left;
          padding: 3px;
        }
        tr:nth-child(even) {
        background-color: #f2f2f2;
        }
        </style>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<div class = "container">
    <table style="width:100%">
        <tr>
            <th> ID</th>
            <th> Title</th>
            <th> Author</th>
        </tr>
        <tr th:each="book: ${model.allBooks}">
            <td> <span th:text="${book.id}"></span> </td>
            <td> <span th:text="${book.title}"></span> </td>
            <td> <span th:text="${book.author}"></span></td>
        </tr>
    </table>
</div>
</body>
</html>