<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

<head>
    <title>Bookish - Library</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/library.css"/>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="book-table-style">
    <table>
        <thead>
        <tr>
            <th width="10%"> ID</th>
            <th width="50%"> Title</th>
            <th width="40%"> Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${model.allBooks}">
            <td><span th:text="${book.id}"></span></td>
            <td>
                <a th:href="@{/library/{id}(id = ${book.id})}" class="quantity-button"><span
                        th:text="${book.title}"></span></a>
            </td>
            <td><span th:text="${book.author}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>