<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

<head>
    <title>Bookish - Library - Quantity</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/library.css"/>
</head>

<body class="page">

<div th:replace="fragments/navbar :: navbar"></div>

<div class="book-table-style">
    <table>
        <thead>
        <tr>
            <th width="10%"><span th:text="${model.book.id}"></span></th>
            <th width="50%"><span th:text="${model.book.title}"></span></th>
            <th width="40%"><span th:text="${model.book.author}"></span></th>
        </tr>
        </thead>
    </table>
    <p class="quantity"> Number of books = <span th:text="${model.quantity}"></span></p>
</div>
<div class="id-table-style">
    <table>
        <thead>
        <tr>
            <th width="30%"> ID</th>
            <th width="70%"> Book Copy ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bookCopy: ${model.book.bookCopys}">
            <td><span th:text="${model.book.id}"></span></td>
            <td><span th:text="${bookCopy}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>