<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

<head>
    <title>Bookish - Library - Quantity</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/library.css"/>
</head>

<body class="page">

<div th:replace="fragments/navbar :: navbar"></div>

<div class="col">
    <div class="book-table-style">
        <table>
            <thead>
            <tr>
                <form th:action="${model.editUrl}" class="edit-title-text" method="post">
                    <th width="10%"><span th:text="${model.id}"></span></th>
                    <th width="45%"><input type="text" name = "title" th:value="${model.title}"></th>
                    <th width="35%"><input type="text" name = "author" th:value="${model.author}"></th>
                    <th width="10%"><input type="submit" value="Edit"></th>
                </form>
            </tr>
            </thead>
        </table>
        <p class="quantity"> Number of books = <span th:text="${model.quantity}"></span></p>
    </div>
</div>
<div class="col">
    <div class="add-copy">
        <form th:action="${model.addCopyUrl}" method="post">
            <input type="submit" value="Add Copy">
        </form>
    </div>
    <div class="id-table-style">
        <table>
            <thead>
            <tr>
                <th width="10%"> ID</th>
                <th width="60%"> Book Copy ID</th>
                <th width="30%"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="copy: ${model.copies}" height="50">
                <td><span th:text="${model.id}"></span></td>
                <td><span th:text="${copy.id}"></span></td>
                <td><a th:href="${copy.deleteCopyUrl}" class="delete-button"> Delete Copy</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="delete-title-button">
    <a th:href="${model.deleteTitleUrl}" class="delete-title-text"> Delete Title</a>
</div>
</body>
</html>