h2 {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.page {
    display:block;
}

.quantity-button  {
    width:100%;
    display:block;
    background-color: rgba(86,96,106,.5);
    border-radius: 5px;
    padding: 3px 10px 5px 10px;

    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: #121416;
    text-decoration: none;

}
.quantity-button:hover {

    background-color: rgba(86,96,106,0.3);
}

.quantity{
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    color: #343a40;
    text-align: center;
    margin-left:15%;
    margin-right:15%;
}

.book-table-style table {
    width: 90%;
    border: 3px solid #343a40;
    margin-left:5%;
    margin-right:5%;
    margin-top:10px;
    padding: 5px 5px;
    border-collapse:collapse;
}

.book-table-style thead th{
    border: 2px solid white;
    padding: 5px 5px;
    background-color: #4b545c;

    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}
.book-table-style input{

    border: none;
    padding: 5px 5px;
        background-color: #4b545c;

        font-family: "Segoe UI", sans-serif;
        font-size: 30px;
        color: white;
        text-align: center;

}
.book-table-style input[type="submit"]{

    border: 1px solid #343a40;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: #343a40;
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;

}
.book-table-style input[type="submit"]:hover {

    opacity: 0.5;
    }


.book-table-style tbody td{

    border-radius: 5px;
    padding: 3px 10px 5px 10px;
    border: 2px solid #343a40;
    text-align: left;
    padding: 3px;

    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}

.id-table-style table {

    width: 200%;
    border: 3px solid #343a40;
    margin-left:10px;
    margin-top:10px;
    padding: 5px 5px;
    border-collapse:collapse;
}

.id-table-style thead th{
    border: 2px solid white;
    padding: 5px 5px;
    background-color: #4b545c;

    font-family: "Segoe UI", sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

.id-table-style tbody td{

    border: 2px solid #343a40;
    padding: 3px;

    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    text-align: center;
}

.add-book {
    padding: 5px 0;
    font-family: "Segoe UI", sans-serif;
    color: #343a40;
}

.add-book label {
    display: block;
    flex-direction: row;
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
}

.add-book input[type="text"] {
    padding: 3px 3px;
    flex-grow:1;
}
.add-book input[type="submit"]{
    background-color: #343a40;
    border: 1px solid #343a40;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
    margin-top:10px;
}

.col{
display:flex;
margin-left:25%;
margin-right:25%
}

.delete-button{
    background-color: #56606a;
    border: 1px solid #56606a;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
    margin-top:10px;
    text-decoration: none;

}
.delete-button:hover {
    opacity:0.5;
}

.add-copy input[type="submit"]{

    font-family: "Segoe UI", sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;

    background-color: #56606a;
    border: 1px solid #56606a;
    border-radius: 20px;
    padding: 5px 15px;

    margin-top:30%;
}
.add-copy:hover {

    opacity: 0.5;
}

.delete-title-button{
     background-color: #343a40;
     border: 1px solid #343a40;
     border-radius: 15px;
     padding: 5px 15px;

     margin-top:20px;
     width:15%;
     margin-left:42.5%;
     margin-right:42.5%;

     text-align: center;
 }
 .delete-title-text{

     text-decoration: none;
     font-family: "Segoe UI", sans-serif;
     font-size: 30px;
     font-weight:600;
     color: white;

 }
.delete-title-button:hover {

    background-color: tomato;
}

.edit-title-button{
     background-color: #343a40;
     border: 1px solid #343a40;
     border-radius: 15px;
     padding: 5px 15px;

     margin-top:30px;
     width:fit-content;
     height:fit-content;
     text-align: center;
 }
 .edit-title-text{

     text-decoration: none;
     font-family: "Segoe UI", sans-serif;
     font-size: 20px;
     color: white;
 }
.edit-title-button:hover {

    opacity: 0.5;
    }